{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
    <h1>Оборудование</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Наименование оборудования</th>
            <td>{{ equipment.name }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ equipment.description }}</td>
        </tr>
        <tr>
            <th>Технический индекс</th>
            <td>{{ equipment.techicalIndex }}</td>
        </tr>
        <tr>
            <th>Оценка</th>
            <td>{{ equipment.reliability }}</td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>{{ equipment.date ? equipment.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>График</th>
            <td>{{  render_chart(chart)  }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('equipment_index') }}">back to list</a>

    <a href="{{ path('equipment_edit', {'id': equipment.id}) }}">edit</a>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
