{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
    <h1>Оборудование</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Наименование оборудования</th>
            <td>{{ equipment.name }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ equipment.description }}</td>
        </tr>
        <tr>
            <th>График тех. индекса</th>
            <td>{{  render_chart(chartTech)  }}</td>
        </tr>
        <tr>
            <th>График Рэо</th>
            <td>{{  render_chart(chartRel)  }}</td>
        </tr>
        </tbody>

    </table>
    {{ include('techical_indexs/show.html.twig') }}
    {#  <a href="{{ path('equipment_index') }}">back to list</a>

    <a href="{{ path('equipment_edit', {'id': equipment.id}) }}">edit</a>
    {{ include('equipment/_delete_form.html.twig') }} #}
{% endblock %}
