{% extends 'base.html.twig' %}

{% block title %}GroupParameter index{% endblock %}

{% block body %}
    <h1>GroupParameter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_parameter in group_parameters %}
            <tr>
                <td>{{ group_parameter.id }}</td>
                <td>{{ group_parameter.name }}</td>
                <td>{{ group_parameter.weight }}</td>
                <td>
                    <a href="{{ path('group_parameter_show', {'id': group_parameter.id}) }}">show</a>
                    <a href="{{ path('group_parameter_edit', {'id': group_parameter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_parameter_new') }}">Create new</a>
{% endblock %}
