{% extends 'base.html.twig' %}

{% block title %}TechicalIndexs{% endblock %}

{% block body %}
    <h1>Технический индекс</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Date</th>
            </tr>
            
                 {% for index in techical_index %}
                 <tr>
                 <td>{{ index.id }}</td>
                 <td>{{ index.value }}</td>
                 <td>{{ index.date ? index.date|date('Y-m-d') : '' }}</td>
                 <td>
                  <a href="{{ path('techical_indexs_edit', {'id': index.id}) }}">edit </a>
                  </td>
                   <td>
                  <a href="{{ path('techical_indexs_delete', {'id': index.id}) }}">delete </a>
                  </td>
                </tr>
                 {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('techical_indexs_index') }}">back to list</a><br>
  

    
{% endblock %}
