{% extends 'base.html.twig' %}

{% block title %}TechicalIndexs{% endblock %}

{% block body %}
    <h1>TechicalIndexs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ techical_index.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ techical_index.value }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ techical_index.date ? techical_index.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('techical_indexs_index') }}">back to list</a>

    <a href="{{ path('techical_indexs_edit', {'id': techical_index.id}) }}">edit</a>

    {{ include('techical_indexs/_delete_form.html.twig') }}
{% endblock %}
